:root {
    /* Bright Blue Monotone */
    --dark-color: #438797;
    --medium-color: #59a9b5;
    --light-color: #d0e8e9;
    --white-color: #e2f3f9;

    /* Navy and Mint */
    --dark-color: #2b2741;
    --medium-color: #8febd5;
    --light-color: #ff9480;
    --white-color: #e7f7f4;

    /* Deep Teal and Ivory */
    --dark-color: #043442;
    --medium-color: #53dbc4;
    --light-color: #a9ede2;
    --white-color: #e5e7e7;

    /* Summer Splash */
    --dark-color: #05445E;
    --medium-color: #189ab4;
    --light-color: #75e6da;
    --white-color: #d4f1f4;
}