:root {
    --dark-color: #2f5061;
    --medium-color: #4297a0;
    --accent-color: #e57f84;
    --light-color: #a8fef1;
    --white-color: #f4eae6;
}

* {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    color: var(--dark-color);
}

html {
    background-color: var(--light-color);
}

body {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    background-color: var(--white-color);
    box-shadow: 0 0 5px;
    display: block;
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: var(--dark-color);
    color: var(--medium-color);
    box-shadow: 0 0 5px var(--dark-color);
    z-index: 1;
}

h1,
h2,
h3 {
    margin: 0;
    margin-block: 0;
    padding: 0;
}

nav>p {
    padding: 0 .4em;
    font-size: 2em;
    font-weight: bold;
    margin: .2em 0;
    color: var(--white-color);
}

nav>ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: .9em;
    margin: 0;
    padding: 0 .8em;
}

nav>ul>li>a {
    text-decoration: none;
    color: var(--medium-color);
    font-weight: bold;
    border-radius: 2px;
    padding: 1px;
}

nav>ul>li>a:hover {
    color: var(--white-color);
    background-color: var(--accent-color);
}

header {
    position: relative;
    padding: 0 .8em 1em;
    border-bottom: 3px double var(--dark-color);
}

#about {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
}

#info {
    width: 30%;
    margin-top: 1.4em;
}

#about>p {
    width: 70%;
}

main {
    position: relative;
}

#skills ul li {
    font-size: .8em;
    color: var(--dark-color);
    list-style: none;
}

#skills>ul>li {
    padding-left: .5em;
}

#skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 3px double var(--dark-color);
}

.section-heading {
    position: sticky;
    top: 3.2em;
    color: var(--dark-color);
    background-color: var(--white-color);
    width: 100%;
    padding: .5em;
    margin: 0;
}

.line {
    height: .5em;
    width: 80%;
    background-image: linear-gradient( to right, var(--dark-color), var(--white-color));
    border-radius: 2px;
}

.experience {
    display: grid;
    grid-template-columns: 30% 70%;
    border-bottom: .5px inset var(--dark-color);
    margin-bottom: 1em;
}

.description {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
}

.experience-type {
    font-size: .7em;
}

.company {
    font-weight: bold;
}

.title {
    font-size: .9em;
    padding-left: 1em;
    color: var(--medium-color);
}

.dates {
    font-size: .9em;
    font-style: italic;
}